@import 'normailize';

@import 'vars/colors';
@import 'vars/fonts';
@import 'vars/grid';
@import 'vars/layout';
@import 'vars/typography';
@import 'vars/utils';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $black-87;
  display: flex;
  flex-direction: column;
  font-family: $font-stack-default;
  font-size: $body-font-size-base;
  font-weight: 300;
  height: 100vh;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

@import '_partials/base-elements';
@import '_partials/buttons';
@import '_partials/card';
@import '_partials/checkout';
@import '_partials/dialog';
@import '_partials/font-awesome';
@import '_partials/footer';
@import '_partials/forms';
@import '_partials/grid';
@import '_partials/helpers';
@import '_partials/layout';
@import '_partials/nav';
@import '_partials/slides';
@import '_partials/social';
@import '_partials/typography';
