a {
  color: currentColor; // TODO not sure how I feel about this. revisit later. - Paul
  // bad for accessability, but fixes dots on firefox - Paul
  &:active,
  &:focus,
  &:visited {
    outline: none;
  }

  i {
    color: $black-38;
    transition: $transition-normal;
  }

  &:hover {
    i {
      color: $black-54;
    }
  }
}

p {
  margin: $margin-default 0 #{$margin-base*2.5};

  &:first-of-type {
    margin-top: 0;
  }
}
