.margin-base {
  margin: $margin-base;

  &.tb {
    margin: $margin-base 0;
  }

  &.lr {
    margin: 0 $margin-base;
  }
}

.padding-base {
  padding: $padding-base;

  &.tb {
    padding: $padding-base 0;
  }

  &.lr {
    padding: 0 $padding-base;
  }
}

.text-error {
  color: $color-error;
}


.disabled {
  pointer-events: none; 
}
